* {
  box-sizing: border-box;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  margin: auto 1rem 60px;
  padding-top: 70px;
  font-family: 'Questrial', sans-serif;
  background-image: url("../assets/6OZSICG4WT.jpg");
}

a {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

footer {
  position: absolute;
  bottom: 25px;
  left:   5%;
  width:  90%;
  font-size: 1rem;
  height: 60px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

header,
main,
footer {
  text-align: center;
}

header {
  text-transform: uppercase;
}

form {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

table, tbody, thead, tr, td, th {
  background-image: url("../assets/6OZSICG4WT.jpg");
  border: 2px solid !important;
}

#exampleInputEmail1.red-border {
  border: 2px solid red;
}

.navbar-harvest .navbar-inner {
  	background: #f36c00;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f68a28), color-stop(100%, #f36c00));
	background: -webkit-linear-gradient(top, #f68a28,#f36c00);
	background: -moz-linear-gradient(top, #f68a28,#f36c00);
	background: -o-linear-gradient(top, #f68a28,#f36c00);
	background: -ms-linear-gradient(top, #f68a28,#f36c00);
	background: linear-gradient(top, #f68a28,#f36c00);
}
.navbar-harvest .navbar-inner .nav {
	float: right;
}
.navbar-harvest .brand {
	color: #fff;
	text-shadow: none;
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar-harvest .navbar-inner .nav li a {
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	text-shadow: none;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: background 0.1s linear,opacity 0.1s linear;
	-moz-transition: background 0.1s linear,opacity 0.1s linear;
	-ms-transition: background 0.1s linear,opacity 0.1s linear;
	-o-transition: background 0.1s linear,opacity 0.1s linear;
	transition: background 0.1s linear,opacity 0.1s linear;
	-webkit-font-smoothing: antialiased;
	opacity: .9;
	font-weight: 600;
}
.navbar-harvest .navbar-inner .nav li a:hover {
	background: #f67d0f;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff;
	opacity: 1;
}
