<div class="container">
  <p>Look around you. Singing telegrams have gone the way of the buffalo. People favor looking at their phones rather than making real world gestures to show each other they care. Bring your letters to life with the digital miracle known as Gram Gram. Talented strangers will take your words and perform them in the style that you choose for free (for now) so you can get your message to the person intended in the WAY you want it to be said. No more emoticons. No more long nights tossing and turning imagining "what if I had been able to..." NO. Regret is for the regretters. Make your dreams a reality with the newest craze that's sweeping the nation. The One - the only - the resurgence of the singing telegram for the digital age - GRAM GRAM.
  </p>

  <hr>
  <div>This is what your message will look like BEFORE GramGram:</div>
  <div>This is what your message will look like AFTER GramGram:</div>
  <hr>
<br>
    <p>
      <a class="underline" ui-sref="completed-msgs"><u>Take a look at some of the messages produced through GramGram so far!</u></a>
    </p>

    <br>

    <p>
      <strong>
        If you are not a user yet,
        <a class="underline" ui-sref="signin"><u>Sign Up</u></a> to get started on your first message!
      </strong>
    </p>
</div>
