<div class="container">
  <h1>Compose your message</h1>

  <form ng-submit="">
    <div class="form-group">
      <label for="examplemessage">Your message</label>
      <input ng-model="vm.compose.msg" type="field" ng-class="{'red-border': vm.conflict}" class="form-control" id="examplemessage" placeholder="I love you forever and ever">

    </div>
    <div class="form-group">
      <label for="exampleStyle">Desired Style</label>
      <input ng-model="vm.compose.style" type="list" class="form-control" id="exampleStyle" placeholder="Style">
    </div>

    <div class="form-group">
      <label for="sel1">Desired Style</label>
      <select class="form-control" id="sel1">
        <option>Select your message style</option>
        <option>Hip Hop</option>
        <option>Operatic</option>
        <option>Rock</option>
        <option>(Power) Ballad</option>
        <option>Pop</option>
        <option>Boyband</option>
        <option>Punk</option>
        <option>Electronic</option>
        <option>Dubstep</option>
        <option>Interpretive Dance with Subtitles</option>
        <option>Other option: please include in the Notes section below</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleInputName">Notes</label>
      <textarea ng-model="vm.compose.notes" class="form-control" rows="3" id="exampleInputName" placeholder="Anything else you'd like to add?  Didn;t see a message Special directions?  Make sure to make it easy for the realizer of your message and include runner-up options for the style of your message :)"></textarea>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
<br>
<hr>

  <p>
    <strong>
      If you are not a user yet,
      <a class="underline" ui-sref="signin"><u>Sign Up</u></a> to get started on your first message!
    </strong>
  </p>

</div>
