<div class="container">

  <h1>Select a message to Realize!</h1><h4>(aka GramGram that thing)</h4>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Message</th>
          <th>Style</th>
          <th>Notes</th>
          <th>Requested by</th>
        </tr>
        </thead>
      <tbody id="start" data-link="row" class="rowlink">
        <tr ng-repeat="message in vm.messages" ng-click="vm.handleMessageClick(message)">
          <td>{{message.msg}}</td>
          <td>{{message.style}}</td>
          <td>{{message.notes}}</td>
          <td>{{message.user}}</td>
        </tr>
      </tbody>
    </table>
</div>
